<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugin.Connectivity" version="1.0.3" targetFramework="monoandroid5" />
  <package id="Xam.Plugins.Notifier" version="1.0.2" targetFramework="monoandroid5" />
  <package id="Xam.Plugins.Settings" version="1.5.2" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.1.0" targetFramework="monoandroid5" />
</packages>